<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnifiedCare"
        tools:targetApi="34">
        <activity
            android:name=".unifiedcare.parents.SecureSlotActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ParentsFacilityInformationActivity"
            android:exported="false"></activity>
        <activity
            android:name=".unifiedcare.parents.ParentsFacilityListActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistConfirmationFacilityPart"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistPreferencesPage2"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.UnifiedChangeUsername"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistHomePage"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistConfirmationFacilityPageRegistration"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistConfirmationFacilityPageEmail"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistPreferencesPage"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistConfirmationFacilityPage"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistNewUserSignUpPage2"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistSignUpPage"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ParentsSignUpPage_ChildDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ParentsSignUpPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.UserTypePageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ForgotPasswordPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".parent.WelcomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>