<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnifiedCare"
        tools:targetApi="34">

        <activity
            android:name=".unifiedcare.UnifiedCareAboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.UnifiedCareTermsandConditionActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.UnifiedCarePrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.ProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.CommunitySupportPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistAvailableScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistApproveAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistSkillAssessment"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistProgressSummary"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistChildProgressPageRecommendation"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistChildsProgressPageObservation"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistApplyHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistChildsProgressPage1"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistWaitApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistListStudentActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistApplyNowActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.SecureSlotActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ExistingParentUserDashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ParentsChildsProgressPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ParentsFacilityInformationActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ParentsFacilityListActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".unifiedcare.parents.TherapistInformationPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistConfirmationFacilityPartActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistPreferencesPage2Activity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.UnifiedChangeUsernameActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistConfirmationFacilityPageRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistConfirmationFacilityPageEmailActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistPreferencesPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistConfirmationFacilityPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistNewUserSignUpPage2Activity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.therapist.TherapistSignUpPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ParentsSignUpPage_ChildDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ParentsSignUpPageActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".unifiedcare.parents.WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.TherapistListPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.UserTypePageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.parents.ForgotPasswordPageActivity"
            android:exported="false" />
        <activity
            android:name=".unifiedcare.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".parent.WelcomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>